/*setear nuestros archivos: sea igual para todos los navegadores*/
/*Estilos al body*/
body {
  box-sizing: border-box;
  color: #303030;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding:0;
}
/* Estilos al encabezado*/
header {
  /*margin-left: 30px;*/
  position:relative;
  left: 14%;
  background-color: #f0f0f0;
  width: 69%;
  padding-bottom:5px;
}
header h1 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 28px;
  color:#6a5acd;
}
header hr {
  background-color: #6a5acd;
  border:none;
  height:5px;
  margin-right:80.2%;
}
/* Estilos a section (contenido principal)*/
section {
  /*margin-left: 120px;*/
  width: 80%;
  position:relative;
  left: 12%;
}
div.gallery {/* estilos a la galeria de fotos)*/
  border: 3px solid #3c3c3c;
  display: inline-block;
  margin: 30px;
  width: 25%;
}
div.gallery img {/* estilos a la galeria de fotos)*/
width: 100%;
height: auto;
}
div.gallery h1 {/* estilos a la galeria de fotos a los nombres(texto))*/
  color: #6a5acd;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin:0;
  text-align: right;
}
div.gallery:hover {
    border: 2px solid #ccc;
}
